<%- include('./../includes/header.ejs') %>
<title>Create Flamenco Blog Post</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/login">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/create-flamenco-blog-post.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>Create Flamenco Blog Post</h1>

  <form action="/admin/create-flamenco-blog-post" method="POST"  >

    <label for="h1Title">H1 Title</label>
    <input type="text" name="h1Title" required> 

    <label for="seoFriendlyTitle">SEO Friendly Title</label>
    <cite>This will be the documents id so make it unique. Dont change after a while because will affect SEO and then I'll have to make redirect 301</cite>
    <input required type="text" name="seoFriendlyTitle">

    <!-- <label for="headerImg">Image</label>
    <input id="headerImg" type="file" name="headerImg" accept="image/*"> -->

    <!-- <div class="headingOrParagraph"> -->
      <label for="keywords">Keywords</label>
      <textarea name="keywords" rows="2" cols="33" required></textarea>

      <label for="description">Description Under 160 Characters</label>
      <textarea name="description" rows="3" cols="33" required></textarea>

      <label for="html">HTML</label>
      <textarea name="html" rows="100" cols="33" required></textarea>
    <!-- </div> -->


    <button type="submit">Submit</button>
  </form>



</div>
  
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>