<%- include('./../includes/header.ejs') %>
<title>Create Flamenco Blog Post</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/login">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/create-flamenco-blog-post.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>Create Flamenco Blog Post</h1>

  <form action="/admin/create-flamenco-blog-post" method="POST">

    <label for="h1Title">H1 Title</label>
    <input type="text" name="h1Title">

    <label for="seoFriendlyTitle">SEO Friendly Title</label>
    <cite>This will be the documents id so make it unique</cite>
    <input required type="text" name="seoFriendlyTitle">

    <label for="headerImg">Image</label>
    <input type="file" name="headerImg" accept="image/png, image/jpeg">

    <!-- <div class="headingOrParagraph"> -->
      <label for="keywords">keywords</label>
      <textarea name="keywords" rows="2" cols="33"></textarea>

      <label for="description">description</label>
      <textarea name="description" rows="12" cols="33"></textarea>

      <label for="html">html</label>
      <textarea name="html" rows="100" cols="33"></textarea>
    <!-- </div> -->


    <button type="submit">Submit</button>
  </form>



</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>