<%- include('./../includes/header.ejs') %>
<title>error</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/admin/error">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/error.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <p><%= error.message %></p>
</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>