<%- include('./../includes/header.ejs') %>
<title>userProfile</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/admin/userProfile">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/userProfile.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
   
    
    <form action="/forgot-password" method="POST">
        <input id="loginEmail" name="loginEmail" type="email" placeholder="Email"> 
        <button id="btnLogin">Get Reset Email</button>
        
      </form>


<!-- <form id="displayNameForm" action="/admin/userProfile" method="post">
    <label for="displayName">Edit your Display Name</label>
<input type="text" name="displayName" value="<%= currentUser.displayName %>"> 
<button>Submit</button>
</form> -->

<!-- TODO implement account deletion -->

</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>