<div id="footer">
  <div id="footerLinkContainer">
    
    <a href="/">Brisbane Flamenco </a>

    <a href="/capos">Capo Shop </a>

    <a href="/blog/flamenco-palos">Flamenco Palos</a>

    <li class="nav-item active">
      <a class="nav-link" href="/blog/what-does-flamenco-mean">What Does Flamenco Mean</a>
    </li>

    <a href="/blog/spanish-guitar">The Spanish Guitar</a>

    <a href="/contact">Contact </a>
    <a href="/returns">Returns Policy</a>

  </div>
  <!-- <small id="copyrightDate"></small> -->
</div>


<!-- <small>&copy; 
    <%- new Date().toDateString() %>  
  </small> -->
<script src="/jquery/jquery-3.4.1.slim.min.js"></script>
<script src="/popper/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/scripts/copyright-date.js"></script>
</body>

</html>