<div id="footer">
  <div id="footerLinkContainer">
    <a href="/">Brisbane Flamenco </a>
    <a href="/capos">Capo Shop </a>
    <a href="/flamenco-blog/blog-index">Blog</a>
    
    <a href="/contact">Contact </a>
    <a href="/site-map">Site Map</a>
    <a href="/returns">Returns Policy</a>

  </div>
  
</div>
<script type="text/javascript" src="/scripts/nav.js"></script>
</body>

</html>