<div id="footer">
  <div id="footerLinkContainer">
    <a href="/">Brisbane Flamenco </a>
    <a href="/capos">Capo Shop </a>
    <a href="/flamenco-blog/blog-index">Blog</a>
    
    <a href="/contact">Contact </a>
    <a href="/about">About </a>
    <a href="/site-map">Site Map</a>
    <a href="/returns">Returns Policy</a>

  </div>
  
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-analytics.js"></script>
<script src="/scripts/firebase.js"></script>
<script src="/scripts/nav.js"></script>
</body>

</html>