<div id="footer">
  <div id="footerLinkContainer">
    <a href="/">Brisbane Flamenco </a>
    <a href="/capos">Capo Shop </a>
    <a href="/blog/blog-index">Blog</a>
    
    <a href="/contact">Contact </a>
    <a href="/returns">Returns Policy</a>

  </div>
</div>
<script src="/jquery/jquery-3.4.1.slim.min.js"></script>
<script src="/popper/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/scripts/copyright-date.js"></script>
</body>

</html>