<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-84887816-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-84887816-8');
  </script>

  <meta charset="utf-8">
  <title>Brisbane Professional Flamenco Events</title>
  <base href="/">
  <meta name="apple-mobile-web-app-title" content="Brisbane Professional Flamenco Events">
  <!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--if you want to use the entire screen, set the status bar style to translucent black-->
  <!--For example, the following HTML sets the background color of the status bar to black-->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!--It is a 120-156 characters page description-->
  <meta name="theme-color" content="#ffffff">
  <meta name="description"
    content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
  <meta name="keywords" content="flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
  <!--FACEBOOK-->
  <!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
  <meta property="og:site_name" content="Brisbane Flamenco">
  <meta property="og:url" content="https://brisbaneflamenco.com.au/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Professional Flamenco Events">
  <meta property="og:description"
    content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
  <!--FACEBOOK END-->
  <meta name="twitter:site" content="@brisbaneflamenco">
  <meta name="twitter:creator" content="@DavidHeisner">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Professional Flamenco Events">
  <meta name="twitter:description"
    content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
  <!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
  <!--FOR SEO SHOULD HAVE THIS ROOT URL-->
  <link rel="canonical" href="https://brisbaneflamenco.com.au/">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
<!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Flamenco&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- end bootstrap
     -->
  <meta name="theme-color" content="#ffffff">
  <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
              "@type": "LocalBusiness",
                "name": "Brisbane Flamenco",
                "priceRange": "$60 - $1000",
                "description": "Brisbane flamenco performances for weddings and functions, with guitarists and dancers. Flamenco guitar lessons",
                "currenciesAccepted": "AUD",
                "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
        "telephone": "+61415072353",
                "paymentAccepted":"Cash",
                "url": "https://www.brisbaneflamenco.com.au",
                "address": {
          "@type": "PostalAddress",
          "addressLocality": "Greenbank",
          "addressRegion": "QLD",
          "postalCode": "4124",
          "streetAddress": "74-82 Moody Road"
        }
          }
        </script>
        <link rel="stylesheet" href="/css/header.css">