</head>
<body>
  <nav id="desktopNav">
    <!-- <a href="/"><img class="logo" src="/images/internet-50x50.png" alt="website logo of planet"></a> -->
    <a href="/">Brisbane Flamenco</a>
    <div id="desktopNavLinks">
        <a href="/capos">Capo Shop </a>
        <a href="/flamenco-blog/list-all-flamenco-blog-posts">Blog</a>
        <a href="/contact">Contact </a>
        <a href="/about">About </a>
       
    </div>
  </nav>

<button id="mobileNavBtn"><span>&#10048;</span></button>

  <nav id="mobileNav">
    <!-- <a href="/"><img class="logo" src="/images/internet-50x50.png" alt="website logo of planet"></a> -->
    <a href="/">Home </a>
    <a href="/capos">Capo Shop </a>
    <a href="/flamenco-blog/list-all-flamenco-blog-posts">Blog</a>
    <a href="/contact">Contact </a>
    <a href="/about">About </a>
    
  </nav>