</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span>&#8650;</span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
              <a class="nav-link" href="/">Brisbane Flamenco </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/capos">Capo Shop </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/flamenco-blog/blog-index">Blog</a>
            </li>
           
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact </a>
            </li>
 
          </ul>
        </div>
      </nav> -->

      
  <nav id="desktopNav">
    <!-- <a href="/"><img class="logo" src="/images/internet-50x50.png" alt="website logo of planet"></a> -->
    <a href="/">Brisbane Flamenco</a>
    <div id="desktopNavLinks">
        <a href="/capos">Capo Shop </a>
        <a href="/flamenco-blog/blog-index">Blog</a>
        <a href="/contact">Contact </a>
    </div>
  </nav>
  
<button id="mobileNavBtn"><span>&#10048;</span></button>

  <nav id="mobileNav">
    <!-- <a href="/"><img class="logo" src="/images/internet-50x50.png" alt="website logo of planet"></a> -->
    <a href="/">Home </a>
    <a href="/capos">Capo Shop </a>
    <a href="/flamenco-blog/blog-index">Blog</a>
    <a href="/contact">Contact </a>
  </nav>