<%- include('./includes/header.ejs') %>
<title>About - Brisbane Professional</title>
<meta name="apple-mobile-web-app-title" content="About - Brisbane Professional">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<meta name="keywords" content="flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/about">
<meta property="og:type" content="website">
<meta property="og:title" content="About - Brisbane Professional">
<meta property="og:description"
  content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="About - Brisbane Professional">
<meta name="twitter:description"
  content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/aboutabout">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<link rel="stylesheet" href="/css/about.css">
<%- include('./includes/nav.ejs') %>
<div id="mainContainer">
    <p>
        While I was in Jerez I filmed daily one on one lessons with many flamenco guitarists. I will share with you in my own personal style what I've learned. Two in particular were my biggest influence, Pepe De Morao and Manuel Jero. I've been in love with flamenco since I was 15 and dedicated an immense amount of time to the flamenco guitar. I know how hard it is to learn flamenco, especially living in Australia. So I hope I can help you.
     </p>
     <p>Regular content about flamenco and advice will be released here.  </p>
</div>

<%- include('./includes/footer.ejs') %>


