<%- include('./includes/header.ejs') %>
<title>Create New User</title>
<meta name="robots" content="noindex,nofollow">
<meta name="apple-mobile-web-app-title" content="Create New User">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/createNewUser">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/create-new-user.css">
<%- include('./includes/nav.ejs') %>
<div id="mainContainer">
  <h1>Create New User</h1>
  <form action="/create-new-user" method="post">
    <input id="signupEmail" name="signupEmail" type="email" placeholder="Email">
    <input id="signupPassword" name="signupPassword" type="password" placeholder="Password">
    <button id="btnSignup">Sign up</button>
  </form>
  <!-- log out form -->
  <form action="/logout" method="post">
    <button id="btnLogout">Log out</button>
  </form>
</div> 
<%- include('./includes/footer.ejs') %>


