<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<title>Brisbane Flamenco - Blog - Events - Lessons</title>
<meta name="apple-mobile-web-app-title" content="Brisbane Flamenco - Blog - Events - Lessons">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to organise something to your requirements. From a small birthday celebration to a festival . I also teach flamenco guitar lessons for $100.">
<meta name="keywords" content="brisbane flamenco, flamenco blog, flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Brisbane Flamenco - Blog - Events - Lessons">
<meta property="og:description"
  content="I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to organise something to your requirements. From a small birthday celebration to a festival . I also teach flamenco guitar lessons for $100.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Brisbane Flamenco - Blog - Events - Lessons">
<meta name="twitter:description"
  content="I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to organise something to your requirements. From a small birthday celebration to a festival . I also teach flamenco guitar lessons for $100.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "image":"https://www.brisbaneflamenco.com.au/images/android-icon-72x72.png",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to organise something to your requirements. From a small birthday celebration to a festival . I also teach flamenco guitar lessons for $100.",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>
<%- include('./includes/nav.ejs') %>
<div class="blurb">
  <h1>Brisbane Flamenco</h1>
  <p>Welcome to my flamenco site!</p>
  <p>
     While I was in Jerez I filmed daily one on one lessons with many flamenco guitarists. I will share with you in my own personal style what I've learned. Two in particular were my biggest influence, Pepe De Morao and Manuel Jero. I've been in love with flamenco since I was 15 and dedicated an immense amount of time to the flamenco guitar. I know how hard it is to learn flamenco, especially living in Australia. So I hope I can help you.
  </p>
  <p>Regular content about flamenco and advice will be released here.  </p>
  <img loading="lazy" src="./images/flamenco-dancer.jpg" alt="flamenco dancer">
  <cite>Flamenco Performance</cite>
  <p>
    If you need a flamenco event, we'd love to organise something to     your requirements. From a small birthday celebration to a festival . I also teach flamenco guitar lessons for $100. 
  </p>
  <cite>¡Olé!</cite>
</div>
<%- include('./includes/footer.ejs') %>