<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<title>Brisbane Flamenco - Blog - Events - Lessons</title>
<meta name="apple-mobile-web-app-title" content="Brisbane Flamenco - Blog - Events - Lessons">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to assist you.">
<meta name="keywords" content="brisbane flamenco, flamenco blog, flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Brisbane Flamenco - Blog - Events - Lessons">
<meta property="og:description"
  content="I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to assist you.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Brisbane Flamenco - Blog - Events - Lessons">
<meta name="twitter:description"
  content="I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to assist you.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "image":"https://www.brisbaneflamenco.com.au/images/android-icon-72x72.png",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "I provide regular content about flamenco and advice to help people just getting into it. If you need a flamenco event, we'd love to assist you.",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script> -->
<%- include('./includes/nav.ejs') %>
<div class="blurb">
  <h1>Brisbane Flamenco</h1>
  <!-- <ul id="sitemapList">
    <li><a href="/capos">Capo Shop </a></li>
    <li><a href="/flamenco-blog/blog-index">Blog</a>
      <ul>
        <li><a href="/flamenco-blog/best-nylon-strings-for-flamenco-guitar">Best Nylon Strings For Flamenco Guitar</a></li>
        <li><a href="/flamenco-blog/what-does-flamenco-mean">What Does Flamenco Mean?</a></li>
        <li><a href="/flamenco-blog/flamenco-palos">Flamenco Palos With A Short Description</a></li>
       
        <li><a href="/flamenco-blog/spanish-guitar">The Spanish Guitar</a></li>
        <li><a href="/flamenco-blog/paco-de-lucia-timeline">Paco De Lucia Timeline</a></li>
      </ul>
    </li>
    <li><a href="/contact">Contact </a></li>
    <li><a href="/returns">Returns Policy</a></li>
  </ul> -->

  <img src="./images/flamenco-dancer.jpg" alt="flamenco dancer">
  <cite>Flamenco Show</cite>
  <h2>Flamenco Show</h2>
  <p>
    If you need a flamenco show, we'd love to organise something to your requirements. From a small birthday celebration to a festival. It can include flamenco dance, singing, guitar and percussion. 
  </p>

<h2>How To Play Flamenco Guitar</h2>

<h3>In Person</h3>
<p>Flamenco guitarists learned from direct contact with a  teacher. This is a great way to see every aspect up close of how they’re playing e.g. how to strum the flamenco guitar.  </p>

<h3>Flamenco Books</h3>
<p>
  Books are great because you can learn from many more teachers than you could in person. Getting the distinct opinions and perspectives of each. Each teacher will have pearls of wisdom.
</p>

<h3>Videos</h3>
<p>
  Videos allow you to pause or slow down the playing. You can copy a falsetta you wouldn't otherwise be able to learn. 
</p> 
<h3>Jamming</h3>
<p>
  Jamming with other guitarist teaches you to be more musical. It is the skill you need to develop if you want a career in music.
</p>
<p>
  You should learn from as many sources as possible. Even from someone not as good. They could teach you how dedicated they are or how they approach a certain aspect of playing the guitar.
</p>

<p>You never stop learning, but it can be difficult at the beginning. Its good to have a flamenco guitar teacher with experience. One who knows the guitar tricks to improve your playing. They know which roads are dead ends and can save you a lot of time.</p>




<p>The Spanish guitar is beautiful, it doesn't have to be hard to learn the flamenco guitar.</p>
  <h2>Beginner To Advanced Flamenco Guitar Lessons Brisbane</h2>

  <p>If you're interested I give private flamenco guitar lessons for $100. Contact me through the contact page on this website.</p>

</div>
<%- include('./includes/footer.ejs') %>