<%- include('./includes/header.ejs') %>
<title>Login</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/login">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/login.css">
<%- include('./includes/nav.ejs') %>
<div id="mainContainer">
  <h1>Login</h1>

  <form action="/login" method="post">
    <input id="loginEmail" name="loginEmail" type="email" placeholder="Email">
    <input id="loginPassword" name="loginPassword" type="password" placeholder="Password">
    <button id="btnLogin">Log in</button>
    
  </form>
  
  <!-- createNewUser form -->
  <form action="/create-new-user" method="get">
    <button id="btnSignup">Sign up</button>
  </form>
  <!-- log out form -->
  <form id="logoutForm" action="/logout" method="post" style="display:<%= showLogOutBtn ? 'block' : 'none' %>">
    <button >Log out</button>
  </form>

</div>
<script src="/scripts/firebase.js"></script>
<%- include('./includes/footer.ejs') %>