<link rel="stylesheet" href="/css/returns.css">
<%- include('./includes/header.ejs') %>
<%- include('./includes/nav.ejs') %>
  <div class="container">
    <div class="jumbotron">
      <h1>Returns</h1>
    
      <article class="content">
        <h2>What if there is a problem with my order?</h2>
        <p>If there's a problem with your order, the first thing to do is get in contact with us. We will take care of you, no matter
          what. The only policy we have is we'll do whatever it takes to fix the problem and make you happy.</p>
        <h2>What if I receive a defective product?</h2>
        <p> If you believe you've received a defective product, contact us and we'll respond quickly with assistance. If we determine
          the unit failed under warranty within 30 days of purchase we will cover shipping costs to replace the unit for you.</p>
      
        <h2>"No Hassle" Return Policy:</h2>
        <p> We want you to be completely happy with your purchase. If you are not satisfied with any product, for any reason, you may
          return it for a refund of the purchase price, an in-house credit, or exchange for another product within a fair amount
          of time from the shipping date (usually 30 days).</p>
      </article>
    </div>
  </div>
  <%- include('./includes/footer.ejs') %>