<%- include('./includes/header.ejs') %>
<title>Brisbane Professional Contact</title>
<meta name="apple-mobile-web-app-title" content="Brisbane Professional Contact">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<meta name="keywords" content="flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Brisbane Professional Contact">
<meta property="og:description"
  content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Brisbane Professional Contact">
<meta name="twitter:description"
  content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/contact">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/site-map.css">
<%- include('./includes/nav.ejs') %>
<div id="mainContainer">
  <h1>Brisbane Flamenco Sitemap</h1>
    <ul id="sitemapList">
        <!-- <li><a href="/">Brisbane Flamenco </a></li> -->
        <li><a href="/capos">Capo Shop </a></li>
        <li><a href="/flamenco-blog/blog-index">Blog</a>
        <ul>
          <li><a href="/flamenco-blog/best-nylon-strings-for-flamenco-guitar">The Best Nylon Strings For Flamenco Guitar</a></li>
          <li><a href="/flamenco-blog/what-does-flamenco-mean">What Does Flamenco Mean?</a></li>
          <li><a href="/flamenco-blog/flamenco-palos">Flamenco Palos With A Short Description</a></li>
         
          <li><a href="/flamenco-blog/spanish-guitar">The Spanish Guitar</a></li>
          <li><a href="/flamenco-blog/paco-de-lucia-timeline">Paco De Lucia Timeline</a></li>
        </ul>
        </li>
        <li><a href="/contact">Contact </a></li>
        <li><a href="/returns">Returns Policy</a></li>
      </ul>
</div> 
<%- include('./includes/footer.ejs') %>


