<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<title>What Is Flamenco</title>
<meta name="apple-mobile-web-app-title" content="What Is Flamenco">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="Describe flamenco history and its palos and forms">
<meta name="keywords" content="flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="What Is Flamenco">
<meta property="og:description" content="Describe flamenco history and its palos and forms">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="What Is Flamenco">
<meta name="twitter:description" content="Describe flamenco history and its palos and forms">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "Brisbane flamenco performances for weddings and functions, with guitarists and dancers. Flamenco guitar lessons",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>
</head>
<%- include('./includes/nav.ejs') %>
<div class="container">
  <div class="jumbotron">
    <div>
      <h1>Flamenco</h1>
    </div>
    <div id="homeBlurb">
      <p>
        Flamenco, in its strictest sense, is a professionalized art-form based on the various folkloric music traditions
        of Southern
        Spain in the autonomous communities of Andalusia, Extremadura and Murcia. In a wider sense, it refers to these
        musical
        traditions and more modern musical styles which have themselves been deeply influenced by and become blurred
        with the development
        of flamenco over the past two centuries. It includes cante (singing), toque (guitar playing), baile (dance),
        jaleo (vocalizations),
        palmas (handclapping) and pitos (finger snapping).
      </p>

      <p>
        The oldest record of flamenco dates to 1774 in the book Las Cartas Marruecas by José Cadalso. Flamenco has been
        influenced
        by and associated with the Romani people in Spain; however, its origin and style are uniquely Andalusian.
      </p>

      <p>
        Although the Diccionario de la lengua española associates it especially with the Gypsy ethnicity, it is fused
        with different cultures that coincided in the Andalusia of the time. Of all the hypotheses about its origin,
        the most widespread thesis is that which exposes the Morisco origin, only that the cultural mixing pot that
        occurred
        then in Andalusia: Natives, Muslims, Gypsies, Castilians and Jews; propitiated its creation. In fact, it already
        existed
        in the region of Andalusia its germ long before the Gypsies arrived, also taking into account that there were
        gypsies in
        other regions of Spain and Europe, flamenco was only cultivated by those who were in Andalusia.
      </p>

      <p>
        Flamenco has become popular all over the world and is taught in many non-Hispanic countries, especially the
        United States
        and Japan. In Japan, there are more flamenco academies than there are in Spain. On November 16, 2010, UNESCO
        declared flamenco
        one of the Masterpieces of the Oral and Intangible Heritage of Humanity.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Alegrias in C Major</h1>
    <div class="col-sm-12">
      <p> The <span class="italic">alegrías</span> are the dominant <span class="italic">cante</span> of a group of
        <span class="italic">cantes</span> categorized as <span class="italic">cantiñas</span>, developed in Cádiz from
        the more ancient <span class="italic">soleares</span> and <span class="italic">jaleos</span>. The rhytmical
        count and accentuation of the <span class="italic">soleares</span> and the <span class="italic">alegrías</span>
        are identical, although the <span class="italic">alegrías</span> are faster, and their chord structure stresses
        the bright major rather than the melancholy minor chords of the <span class="italic">soleares</span>. <p>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Bulerias in A minor</h1>
    <p> The <span class="italic">bulerias</span> occupy a special and supreme position in the world of flamenco. They
      are its most festive form, constantly undergoing change, wide open to spontaneity, full of humor and yet
      intrinsically majestic, all of which combine to make them flamenco´s run away festive favorite. </p>

    <p>Due to the extreme adaptability of the <span class="italic">bulerias</span>, they are flamenco´s most badly
      abused <span class="italic">cante</span>, having to suffer never ending mixtures both international and national.
      They are one of the most difficult dances to dominate, as a great deal of <span class="italic">gracia</span> and
      sense of rhythm are essential. They are also the most technically intricate and difficult flamenco form for the
      guitarist, especially if they are played at a ridiculously fast pace.<p>

        <p>All of flamenco is made up of little sections and this is no exception. Here you can take these parts and mix
          them or add them into your own bulerias or use them together. </p>

  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Fandangos</h1>
    <p> The <span class="italic">fandangos grandes</span> are one of the most widely sung, and badly abused <span
        class="italic">cantes</span> of all flamenco. Every singer with the minimum of pretentions attempts the <span
        class="italic">fandangos grandes</span>; but the <span class="italic">grandes</span>, sung as they should be,
      are not a <span class="italic">cante</span> for the run of the mill singer. </p>

    <p> The origin of the category “fandangos”, which includes the <span class="italic">grandes</span> and the <span
        class="italic">fandanguillos</span> (also called fandangos de Huelva), is thought to have been in the <span
        class="italic">jota</span> country of northern Spain. The original <span class="italic">fandangos</span> were
      lively and danceable, accompanied by guitars, castanets, tambourines, and violins. In time one branch of the <span
        class="italic">fandangos</span> took on more serious aspects, chiefly because of the influence of Arabic
      stylings, and grew away from the original <span class="italic">fandangos</span>.
    </p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Granaínas</h1>
    <p> The <span class="italic">granaínas</span> are an adaption of the <span class="italic">fandangos grandes</span>
      which have been strongly influenced by the Moors, rulers of Granada for eight centuries. They have, therefore,
      developed a more discordant, Oriental quality than the <span class="italic">fandangos grandes</span>. They are a
      free <span class="italic">cante</span> without a determined <span class="italic">compás</span>. The term
      “granainás” is an abbreviation of “granadinas”, which means to say “songs from Granada”. </p>

  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Guajiras</h1>
    <p>- <span class="italic">Cante, baile</span> and <span class="italic">toque chico.</span></p>
    <p> The <span class="italic">guajiras</span> are a flamenco version of a Cuban rhythm of the same name. They are
      said to have been brought to Spain in the XVI century by the Spanish soldiers returning from the conquests. Most
      of their versus deal with Cuba and the Cubans, usually in a light vein. They are rhythmically similar to the other
      flamenco forms influenced by the new world. <p>

  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center"> Malagueñas</h1>
    <p>- <span class="italic">Cante</span> and <span class="italic">toque intermedio</span>, not danced.</p>
    <p>The province of Malaga has developed its own very personal world of flamenco. Like so many <span
        class="italic">cantes</span>, the <span class="italic">malagueñas</span> are directly decendended from the <span
        class="italic">fandangos grandes</span>, and, like them, are a free <span class="italic">cante</span> without a
      determined <span class="italic">compas</span>.
    </p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Rondeña</h1>
    <p> The little known<span class="italic"> rondeña</span> differs completely from the <span
        class="italic">rondeñas</span>, which are a form of the lively <span class="italic">verdiales</span>. The <span
        class="italic">rondeña</span> is an emotional, discordant <span class="italic">toque</span>, strangely
      reminiscent of the haunting mountain country near Ronda. Ramón Montoya is credited for developing it into the
      complex <span class="italic">toque</span> that it is today.<p>
        <div class="centervideos">
        </div>
  </div>
</div>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Siguiriyas</h1>
      <p>- <em>Cante, baile</em> and <em>toque grande</em>.</p>
      <p>Most <em>aficionados</em> agree that the <em>siguiriyas</em> are the most profoundly emotional element of
        flamenco. To the uninitiated the <em>compas</em> appears difficult and vague, but in reality is composed of
        twelve beats, as are the <em> soleares, alegrias, bulerias, fandanguillos, </em> and many other rhythmical
        flamenco forms.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <p> The word <em>solea</em> is a gypsy abbreviation of <em>soledad</em>. The word <em>soleares</em> is an improper
        pluralization of “soledad”. Both “soleares” and “solea” signify loneliness and can be used interchangeably. The
        <em>soleares</em> has been described as the “mother of the cante”. There is no doubt that they are the central
        figure around which all of flamenco revolves. </p>

      <p>There are countless theories concerning the antiquity and development of the <em>soleares</em>. It is thought
        that in some form, probably not that which we know today, the <em>soleares</em> have existed for many centuries.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Solea por Buleria</h1>
      <p>Solea por Buleria can be thought of as between a Solea and a Bulerias. Some are adament that it should be
        called Buleria por Solea.</p>

    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Tangos</h1>
      <p> The <em>tangos</em>, considered one of the oldest and most basic gypsy <em>cantes</em>, have an unknown
        origin, but theories abound. The <em>tangos</em> are also called <span class="italic">tientos canasteros</span>,
        which means to say <em>gypsy tientos</em> (<em>canasteros</em> is a flamenco term for “wandering gypsy”, and
        also, less likely in this case, for “basket weavers”), and has led some to think that the <em>tangos</em> came
        about as merely a more gypsified version of the <em>tientos</em>. </p>

    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Tarantas</h1>
      <p> The <em>tarantas</em> are basically a <em>cante</em> of miners. Thought to have originated in the province of
        Almería, they spread to wherever there are mines in southern Spain: in particular, to the provinces of Jaén
        (Linares) and Murcia. They are a resigned <em>cante</em>, well reflecting the atmosphere in which they
        developed. <p>
          <p>The <em>tarantas</em> are a <em>cante</em> free from <em>compás</em>. They are descended from the
            <em>fandangos grandes</em>, but with a far more discordant Moorish influence. Their verses usually reflect
            mining themes.</p>

    </div>
  </div>
  <%- include('./includes/footer.ejs') %>