#mainContainer {
  max-width: 400px;
  margin: 200px auto;
  padding: 15px; }
  #mainContainer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px; }
    #mainContainer form input, #mainContainer form button {
      padding: 10px;
      margin: 10px; }
