nav { 
    margin-bottom: 100px;
    background: #27223a;
    border-bottom: 2px solid red;
}
body {
    background: rgb(241, 240, 250);
    line-height: 1.55em;
    /* font-weight: 600; */
}
p{
    margin-top: 1.7rem;
}
h1,h2 {
    margin-top: 35px;
    margin-bottom: 30px;
}

