
#homeContainer {
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
}
.blurb{
    flex-basis: 600px;
    flex-grow: 1;
    padding: 10px;
    max-width: 1000px;
}
.blurb img{
    max-width: 100%;
}
.newsItems{
    flex-basis: 200px;
    flex-grow: 1;
    padding: 10px;
    max-width: 1000px;
}
.newsItems img{
    max-width: 100%;
}
@media screen and (max-width:880px) {
    .newsItems{
        max-width: 600px;
    }
    .newsItems img{
        max-width: 600px;
    }
}