
#homeContainer {
    display: flex;
    flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
}
.blurb{
    max-width: 600px;
}
.blurb img{
    max-width: 600px;
}
.newsItems{
    max-width: 200px;
}
.newsItems img{
    max-width: 200px;
}
@media screen and (max-width:880px) {
    .newsItems{
        max-width: 600px;
    }
    .newsItems img{
        max-width: 600px;
    }
}