#h1title{
    margin-bottom: 40px;
}
#zitherDiv, #basReliefDiv, #latinGuitarDiv {
    margin: 40px 0;
}
@media screen and (max-width: 550px){
    #latinGuitarDiv img, #basReliefDiv img{
        width: 100%;
    }
}