#mainContainer {
  max-width: 400px;
  margin: 200px auto;
  padding: 15px; }
  #mainContainer form {
    display: flex;
    flex-direction: column; }
    #mainContainer form input, #mainContainer form button {
      padding: 10px;
      margin: 10px; }
    #mainContainer form #matchError {
      visibility: hidden;
      color: #700000;
      text-decoration: underline; }
