#mainContainer {
  max-width: 650px;
  padding: 15px;
  margin: auto; }
  #mainContainer form {
    max-width: 650px;
    margin: 200px auto;
    padding: 15px;
    display: flex;
    flex-direction: column; }
    #mainContainer form input, #mainContainer form button, #mainContainer form textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      margin: 0 0 20px 0; }

.headingOrParagraph {
  border: 2px solid black;
  padding: 20px; }

#mainContainerHtmlRenderedView {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px; }
  #mainContainerHtmlRenderedView img {
    max-width: 100%; }
  #mainContainerHtmlRenderedView .adviceImg {
    height: 200px; }
  #mainContainerHtmlRenderedView li {
    margin: 20px 0;
    padding: 20px; }

h1 {
  text-align: center;
  margin-bottom: 100px; }
