#mainContainer {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column; }
  #mainContainer .blogs {
    margin: 30px;
    border: 1px solid black;
    padding: 20px; }
    #mainContainer .blogs #deleteForm button {
      margin-top: 40px;
      background: red;
      padding: 5px; }
