#mainContainer {
  margin: 200px auto;
  padding: 15px;
  max-width: 650px; }
  #mainContainer img {
    max-width: 100px; }
  #mainContainer #uploadImgForm {
    margin: 100px 0;
    display: flex;
    flex-direction: column; }
    #mainContainer #uploadImgForm input, #mainContainer #uploadImgForm button, #mainContainer #uploadImgForm textarea {
      box-sizing: border-box;
      width: 50%;
      padding: 10px; }
  #mainContainer #displayNameForm {
    margin: 100px 0;
    display: flex;
    flex-direction: column; }
    #mainContainer #displayNameForm input, #mainContainer #displayNameForm button, #mainContainer #displayNameForm textarea {
      box-sizing: border-box;
      width: 50%;
      padding: 10px; }
