<%- include('./../includes/header.ejs') %>
<title>Flamenco Palos Or Styles</title>
<meta name="apple-mobile-web-app-title" content="Flamenco Palos Or Styles">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="A brief explanation of the different flamenco styles including buleria, alegria, solea etc.">
<meta name="keywords" content="alegrias, bulerias, tangos, fandangos, granainas,  guajiras, malaguenas, rondena, siguiriyas, solea, solea por buleria, tarantas">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Flamenco Palos Or Styles">
<meta property="og:description" content="A brief explanation of the different flamenco styles including buleria, alegria, solea etc.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Flamenco Palos Or Styles">
<meta name="twitter:description" content="A brief explanation of the different flamenco styles including buleria, alegria, solea etc.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/blog/what-is-flamenco">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "A brief explanation of the different flamenco styles including buleria, alegria, solea etc.",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>

<link rel="stylesheet" href="/css/blog/what-does-flamenco-mean.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
    <h1>What Does Flamenco Mean?</h1>
<p>According to the flamencologist D. H Pohren, in his book <a href="https://www.amazon.com/Lives-Legends-Flamenco-D-Pohren/dp/1499169027">“Lives And Legends Of Flamenco”</a> originally flamenco had a double meaning. He mentions that some theorists believe that the word flamenco was associated with the hidden, semi-underworld of society's rebellious personalities. In turn the word flamenco came to signify blustering, boasting and being generally obnoxious. As the art form we now associate with flamenco was only played among these groups, naturally the art took on the same name "flamenco".</p>

<h2>Breaking Down Flamenco</h2>
<p>Flamenco consists of singing, dancing, guitar playing and jaleo (shouting encouragement), each of which on their own can be beautiful and appreciated by anyone. If they can all come together perfectly then magic can happen. Although I must admit for me the flamenco guitar is my weakness. </p>

<p>Flamenco can be broken down into categories, jondo, intermedio, chico and popular. Which makes sense as each can reflect our moods. Jondo for profound, intermedio for intermediate flamenco, chico meaning light, and popular flamenco would be well... popular or commercialized. </p>

<h2>How Flamenco Started</h2>
<p>Flamenco is believed to have had its birth as song only. Just like with many art forms no one knows what the originating <em>cante</em> (song) was. My opinion is there was none. Simply flamenco has evolved gradually. There was no day one where we could say “ah ha now we have this thing called flamenco”, it simply gradually evolved into the art today we associate as flamenco. </p>
<p>For example some of the modern ways of performing flamenco today would be unrecognizable to the flamencos of past generations. It is a natural evolution just like languages changing over time. The reason flamenco continues to enchant new followers is that it has been receptive to new influences. Flamenco has always been a fusion of the previous generation's solid flamenco base, then building on it with new outside forces associated with the times that they live in.</p>

<p>There is a large school of thought that the <em>caña</em> and <em>polo</em> are the originating cante. Due to early references to them, and that their passages are similar to early religious chants.</p>

<p>This was just a very brief overview. I can highly recommend any of D. H. Pohrens books for anyone who wants to investigate more about flamenco.</p>
</div>
  <%- include('./../includes/footer.ejs') %>