<%- include('./../includes/header.ejs') %>
<title>Flamenco Guitar Strings</title>
<meta name="apple-mobile-web-app-title" content="Flamenco Guitar Strings">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="I explain what flamenco means, how flamenco started, and break down flamenco a bit for the newcomer to flamenco.">
<meta name="keywords" content="Where Did Flamenco Originate, what does flamenco mean, how flamenco started, what is flamenco">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/flamenco-blog/flamenco-guitar-strings">
<meta property="og:type" content="website">
<meta property="og:title" content="Flamenco Guitar Strings">
<meta property="og:description" content="I explain what flamenco means, how flamenco started, and break down flamenco a bit for the newcomer to flamenco.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Flamenco Guitar Strings">
<meta name="twitter:description" content="I explain what flamenco means, how flamenco started, and break down flamenco a bit for the newcomer to flamenco.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/flamenco-blog/flamenco-guitar-strings">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<link rel="stylesheet" href="/css/flamenco-blog/flamenco-guitar-strings.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
    <h1>Flamenco Guitar Strings</h1>
    <h2>Flamenco guitar strings vs classical guitar strings</h2> 

    <p>This is marketing. Like special PC gaming socks. They are not different to regular strings. Marketing sells. And psychology convinces people there is some difference.</p>
    
    <h2>How often should I change flamenco strings</h2>
    <p>I used to change my flamenco strings very often, about once every 2 or 3 weeks for years . In my experience I found it's not necessary. </p>
    
    <p>
        Having new strings wont make you a better guitarist. Most of the enjoyment and sound that comes from flamenco comes from your technique. How you play, your dexterity, how balanced your muscles are in your forearm. If you are in shape. Change strings less often and work more on your technique if you want a better sound.
    </p>
    
    <p>
        You can give a guitar with old strings to an amazing guitarist and he will still play better than you. Even if you have new strings on the best guitar ever made. Why is that? Strings are not going to make you <a href="/flamenco-blog/paco-de-lucia-timeline">Paco de Lucia</a>.
    </p>
    
    <p>
        While attending schools in Jerez they had guitars for the students to use. They only put on new strings if they broke. That is an extreme example because the school has to save every penny.
    </p> 
    
    <p>
        Make your strings last longer by swapping them around.  Also move them up so they don't wear out over the frets and clean them with eucalyptus oil to dissolve the grime. Use a good <a href="https://www.amazon.com/gp/product/B0002E1G5C/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0002E1G5C&linkCode=as2&tag=brisbaneflame-20&linkId=f0c506cb9a66e57ac0fc7d669ae6f3fb">guitar string winder</a> to save time. 
    </p>
    
    <p>Guitar strings will last a very long time. The 'D' string will break first, but unless you are performing and it is your livelihood then save your money. Save waste and the environment, and work on your technique. There are no free passes in life for anything that's worth having. New strings or new equipment wont replace dedication to the right guitar exercises. Now I change my strings once every 6 months. </p>
    
    <p>
        Imagine a flamenco dancer buying a new dress or new shoes. Do you think she can now draw out an ‘ole’ from you because of a new dress?
    </p>
    
    <p>
        By all means experiment with different brands and types. But you must have the ability in life to cut through the noise in any profession and focus on what matters. 
    </p>
    
    <h2>The best nylon guitar strings</h2>
    <p>The ones that give you the most joy  :)</p>
    <p>
        After trying many strings over the years I’ve stuck with  <a href="https://www.amazon.com/gp/product/B0002E1P4Y/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0002E1P4Y&linkCode=as2&tag=brisbaneflame-20&linkId=e3d7b1663760198045c60ea127226f2b">Savarez alliance 540 R</a>. Its not a priority for me to find better strings now. Yet feel free to keep experimenting with other sets. You might find a difference between strings for you.
    </p>
    
    
    
    
</div>
  <%- include('./../includes/footer.ejs') %>