<%- include('./../includes/header.ejs') %>
<title>Flamenco Palos Or Styles</title>
<meta name="apple-mobile-web-app-title" content="Flamenco Palos Or Styles">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="A brief explanation of the different flamenco styles including buleria, alegria, solea etc.">
<meta name="keywords"
  content="alegrias, bulerias, tangos, fandangos, granainas,  guajiras, malaguenas, rondena, siguiriyas, solea, solea por buleria, tarantas">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/blog/what-is-flamenco">
<meta property="og:type" content="website">
<meta property="og:title" content="Flamenco Palos Or Styles">
<meta property="og:description"
  content="A brief explanation of the different flamenco styles including buleria, alegria, solea etc.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Flamenco Palos Or Styles">
<meta name="twitter:description"
  content="A brief explanation of the different flamenco styles including buleria, alegria, solea etc.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/blog/what-is-flamenco">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<link rel="stylesheet" href="/css/flamenco-blog/flamenco-palos.css">
<%- include('./../includes/nav.ejs') %>

<div id="mainContainer">
  <h1>A List Of Some Flamenco Palos</h1>
  <p>This is a summary, yet there are many more palos not mentioned here.</p>
  <ul id="paloList">
    <a href="flamenco-blog/flamenco-palos#alegrias">
      <li>Alegrias</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#bulerias">
      <li>Bulerias</li>
    </a>

  
    <a href="flamenco-blog/flamenco-palos#fandangos">
      <li>Fandangos</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#granainas">
      <li>Granainas</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#guajiras">
      <li>Guajiras</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#malaguenas">
      <li>Malaguenas</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#rondena">
      <li>Rondena</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#siguiriyas">
      <li>Siguiriyas</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#solea">
      <li>Solea</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#soleaPorBulerias">
      <li>Solea por Bulerias</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#tangos">
      <li>Tangos</li>
    </a>

    <a href="flamenco-blog/flamenco-palos#tarantas">
      <li>Tarantas</li>
    </a>
  </ul>
  <!-- <div class="container"> -->
  <!-- <div class="jumbotron"> -->

  <h2 id="alegrias" class="text-center">Alegrias</h2>
  <cite>Cante chico, baile intermedio, toque chico.</cite>
  <!-- <div id="alegrias"  class="col-sm-12"> -->
  <p> The alegrías are the dominant cante of a group of     cantes categorized as cantiñas, developed in Cádiz. They're from     the more ancient soleares and jaleos. The rhythmical     count and accentuation of the soleares and the alegrías     are identical. Alegrías are faster, and their chord structure stresses     the bright major rather than the melancholy minor chords of the soleares.  <p>

   A nice example of <a href="https://youtu.be/rr90tJr6ZZc?t=130">Miguel Poveda singing Alegrias</a>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="container"> -->
      <!-- <div class="jumbotron"> -->
      <h2 id="bulerias" class="text-center">Bulerias</h2>
      <cite>Cante, baile, and toque chico.</cite>
      <h3>What does bulerias mean and where did it come from?</h3>
      <p>One of the most likely theories says they developed from the Alegrias. Another that they were a remate of solea.

      </p>
      <p>The word buleria is thought to of derived from the word burlar,  i.e. to make fun of. Others think it came from a 19th century dance  called bolera.</p>
      <p>The bulerias occupy a special and supreme position in the world of flamenco. They are its most festive form, constantly change, open to spontaneity, and full of humor. These combine to make them flamenco´s run away festive favourite. </p>

      <p>Due to the adaptability of the bulerias, they are flamenco´s most        abused cante. They suffer never ending mixtures both international and         national.         They are one of the most difficult dances to dominate, as a great deal of gracia and         sense of rhythm are essential. They are also the most difficult flamenco form for the         guitarist, especially played at a crushing pace.<p>

        <p>
          Here's good YouTube video of one of my favorites Moraito Chico playing bulerias. 
        </p>
        <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/f2V_Gk_pxSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Some typical bulerias verses</h3>
        <p>
          In my house I have a garden <br>
        in order to sell flowers for you <br>
        if bad times come.
        </p>
        
       <p> My mouth hurts me,<br>
        gitana, from asking you<br>
        if you love me.</p>
        
       <p>
        I'm going to make, as I have said,<br>
        a wireless telephone<br>
        in order to know of your love…
       </p>
        
        <p>
          Love destroys the senses<br>
        I talk through experience <br>
        because it has happened to me.
        </p>
        
       <p>
        I had<br>
        crazy temptations<br>
        whenever I thought of you.
       </p>
        
        <p>
          When you pass by me<br>
        forget that you have loved me<br>
        and don't even glance my way.
        </p>
        
        <p>
          If we were in a room together <br>
        I would do anything for you,<br>
        even take poison.
        </p>
        
       <p>
        Your mother says nothing<br>
        she is one of those who bites<br>
        with her mouth closed.

       </p>

          For more on Bulerias check out <a href="https://en.wikipedia.org/wiki/Buler%C3%ADas">the Wikipedia bulerias article</a>.
          <!-- </div> -->
          <!-- </div> -->

          <!-- <div class="container"> -->
          <!-- <div class="jumbotron"> -->
          <h2 id="fandangos" class="text-center">Fandangos Grandes</h2>
          <cite>Cante and toque intermedio, not danced.</cite>
          <p> The fandangos grandes are one of the most sung, and abused cantes of all flamenco. Every singer with the smallest of pretensions attempts the             fandangos grandes. But the grandes, sung as they             should be,             are not a cante for the run of the mill singer.  </p>

          <p>The origin of the category “fandangos” was in the Jota country of northern Spain. The original fandangos were lively and danceable. Guitars, castanets, tambourines, and violins accompanied them. In time one branch of the fandangos drifted away, took on a more serious aspect and became fandangos grande. This was  because of the influence of     the        Arabic             styling. They are abstract and without compas.</p>

          <a href="https://youtu.be/RS8sy3gdb_Y">Cameron de la Isla singing fandangos</a>
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="container"> -->
          <!-- <div class="jumbotron"> -->
          <h2 id="granainas" class="text-center">Granaínas</h2>
          <cite>Cante and toque intermedio. Not danced.</cite>
          <p>The granaínas are an adaption of the fandangos               grandes             which the Moors influenced. They have developed a more discordant, Oriental quality than the fandangos grandes. They             are a             free cante without a determined compás. The term             “granainás” is an abbreviation of “granadinas”, which means to say “songs from Granada”. </p>
            <h3>Israel Fernández por Granaínas</h3>
            <iframe height="315" src="https://www.youtube-nocookie.com/embed/46QnLYMVdGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- </div> -->
          <!-- </div> -->

          <!-- <div class="container"> -->
          <!-- <div class="jumbotron"> -->
          <h2 id="guajiras" class="text-center">Guajiras</h2>
          <cite>Cante, baile and toque chico.</cite>
          <p>The guajiras are a flamenco version of a Cuban rhythm of the same name. They arrived to Spain in the XVI century by the Spanish soldiers returning from the conquests.             Most             of their versus deal with Cuba and the Cubans, usually in a light vein. They are similar to the             other             flamenco forms influenced by the new world. <p>

              <!-- </div> -->
              <!-- </div> -->

              <!-- <div class="container"> -->
              <!-- <div class="jumbotron"> -->
              <h2 id="malaguenas" class="text-center"> Malagueñas</h2>
              <cite>Cante and toque intermedio. Not danced.</cite>
              <p>The province of Malaga has developed its own very personal world of flamenco. The malagueñas descended from  the fandangos grandes, and have no  determined compas.  </p>
              <!-- </div> -->
              <!-- </div> -->

              <!-- <div class="container"> -->
              <!-- <div class="jumbotron"> -->
              <h2 id="rondena" class="text-center">Rondeña (Toque)</h2>
              <cite>Toque intermedio, rarely danced, not sung.</cite>
              <p>The little known rondeña differs completely from the rondeñas, which are a form of the lively verdiales. The rondeña is an emotional toque, reflecting the haunting mountain country near Ronda. Ramón Montoya developed it                 into the                 complex toque that it is today.<p>
                  <div class="centervideos">
                  </div>
                  <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="container"> -->
                  <!-- <div class="jumbotron"> -->
                  <h2 id="siguiriyas" class="text-center">Siguiriyas</h2>
                  <cite>Cante, baile, and toque grande.</cite>
                  <p>Most aficionados agree that the siguiriyas are the most emotional                     element of                     flamenco. The compas appears difficult and vague, but  is                     composed of                     twelve beats. 
                  </p>
                  <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="container"> -->
                  <!-- <div class="jumbotron"> -->
                  <h2 id="solea" class="text-center">Solea</h2>
                  <cite>Cante, baile, and toque grande.</cite>
                  <p> 
                    The word solea is a gypsy abbreviation of soledad. The word soleares is                     an improper                     pluralization of “soledad”. They signify loneliness. You can call this palo “soleares” or “solea” . People describe the                     soleares as the “mother of the cante”. There is no doubt that they are                     the central                     figure around which all flamenco revolves. </p>

                  <p>There are countless theories on the antiquity and development of the soleares. People think that in one form or another the soleares existed for                     many centuries.       </p>
                  <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="container"> -->
                  <!-- <div class="jumbotron"> -->
                  <h2 id="soleaPorBulerias" class="text-center">Solea por Buleria</h2>
                  <p>Think of Solea por Buleria as between a Solea and a Bulerias. Some are adamant that it                     should be                     called Buleria por Solea.</p>

                  <!-- </div> -->

                  <!-- <div class="container"> -->
                  <!-- <div class="jumbotron"> -->
                  <h2 id="tangos" class="text-center">Tangos</h2>
                  <cite>Cante, baile, and toque chico.</cite>
                  <p>The tangos, considered one of the oldest and most basic gypsy cantes, have an           unknown origin. The tangos are also called tientos                       canasteros,                     which means gypsy tientos. Canasteros is a flamenco term for “wandering                     gypsy”, and                     also for “basket weavers”. This led some to think that the                     tangos came                     about as a more gypsified version of the tientos. </p>

                  <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="container"> -->
                  <!-- <div class="jumbotron"> -->
                  <h2 id="tarantas" class="text-center">Tarantas</h2>
                  <cite>Cante and toque intermedio, not danced.</cite>
                  <p>The tarantas are a cante of miners thought to have originated in the                     province of                     Almería.  These songs spread to wherever there are mines in southern Spain. In particular, to the provinces                     of Jaén                     (Linares) and Murcia. They are a resigned cante, well reflecting the atmosphere in which                     they                     developed. <p>
                      <p>
                        The tarantas are a cante free from compás. They descend from                         the                         fandangos grandes, but with a far more discordant Moorish influence. Their verses                         usually reflect                         mining themes.</p>

                      <!-- </div> -->
                      <!-- </div> -->
</div>
<%- include('./../includes/footer.ejs') %>