<%- include('./../includes/header.ejs') %>
<title>The Spanish Flamenco Guitar</title>
<meta name="apple-mobile-web-app-title" content="The Spanish Flamenco Guitar">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
  both of which are generally believed to have descended from the ancient Oriental zither.">
<meta name="keywords" content="flamenco, The Spanish Flamenco Guitar, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="//ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="The Spanish Flamenco Guitar">
<meta property="og:url" content="https://brisbaneflamenco.com.au/flamenco-blog/spanish-guitar">
<meta property="og:type" content="website">
<meta property="og:title" content="The Spanish Flamenco Guitar">
<meta property="og:description"
  content="The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
  both of which are generally believed to have descended from the ancient Oriental zither.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="The Spanish Flamenco Guitar">
<meta name="twitter:description"
  content="The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
  both of which are generally believed to have descended from the ancient Oriental zither.">
<!-- <meta name="twitter:image" content="//ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/flamenco-blog/spanish-guitar">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <link rel="stylesheet" href="/css/flamenco-blog/spanish-guitar.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">

    <!-- <div class="jumbotron"> -->
        <h1 id="h1title">The Spanish Guitar</h1>
        <div id="zitherDiv">
            <img src="/images/spanishGuitarArticle/zither.jpg" alt="A zither, a box like instrument with no neck and many strings">
            <br>
            
        </div>
        <cite>Oriental zither</cite>
        <p>
            The Spanish guitar is the direct offspring of the Latin guitar and the Moorish guitar. Both  are generally believed to have descended from the ancient Oriental zither.  </p>
        <p>We look to Egypt and Babylonia for the earliest stringed instruments, including the zither. They             passed on to Syria, Persia, India, and the Middle and Far East in general.</p>
        <p>Archaeologists discovered a bas-relief in the tomb of one of the Kings of Thebes in Egypt, dated 3500 B.C.</p>
        <div id="basReliefDiv">
            <img src="/images/spanishGuitarArticle/egyptBasRelief.jpg" alt="An Egyptian bas-relief of a person playing a harp-like instrument">
            
        </div>
        <cite>Example of an Egyptian bas-relief of a harp like instrument</cite>
        <p>This bas-relief is now in the museum of Leyden (Holland). It includes an instrument somewhat resembling today's Spanish             guitar.  </p>
        <p>
            Around 800-1000 B.C. the Egyptians possessed an instrument resembling the modern guitar.             This instrument could have been the Moorish guitar, or one of its predecessors. Yet no date or place can be             pinpointed about the origin of any of the ancient stringed instruments.       
        </p>
        <p>
            In truth, the family tree of stringed             instruments, is as vague as civilization's early history.  
        </p>
        <p>We can try to follow the popular theory that the guitar derived from the zither. It is generally agreed that the Oriental zither arrived to Spain             during the time of the Romans, sometime before 0CE. </p>
        <p>
            The zither flourished in Spain until the fall of the Spanish             Roman Empire (fifth century). Then it fell into disuse until the invading     
            <a mat-button href="https://en.wikipedia.org/wiki/Visigoths"
               >Visigoths</a> established themselves on the peninsula.  The Visigoths set about reviving the old Roman culture,             and the zither again emerged.
        </p>
        <p>
            In the VII century    
            <a href="https://en.wikipedia.org/wiki/Isidore_of_Seville">San Isidro</a> wrote of wandering minstrels singing and accompanying themselves on the zither. He also states             that the musical centers of Spain at the time were Sevilla, Toledo, and Zaragoza. 
        </p>
        <p>
            It was around this period             that the Latin guitar developed in Spain, presumably, from the Roman zither. 
        </p>
        <p>
            The Latin guitar contained four sets of double strings and resembled a small version             of the present Spanish guitar.
        </p>
        <div id="latinGuitarDiv">
            <img src="/images/spanishGuitarArticle/Guitar_latina_morisca.jpg" alt="Two people, one playing a Latin guitar and the other playing a morrocan guitar.">
           
        </div>
        <cite>
            <a href="https://en.wikipedia.org/wiki/Guitarra_latina">Guitarra Latina</a> (left) and
            <a href="https://en.wikipedia.org/wiki/Guitarra_morisca">guitarra morisca</a> (right)</cite>
        <p>Meanwhile, in the Middle East the Oriental zither had long ago inspired the Moorish guitar. It's an oval-shaped,             three stringed instrument introduced into Spain. </p>
        <p>
            The significant characteristic that the Latin guitar borrowed from the Moorish guitar, was the idea of the single strings in place of the sets of double strings.
        </p>
        <p>So by the ninth century there existed in Spain guitars similar to those we play today. The guitar was not introduced to the general populace until the troubadour period (eleventh through the thirteenth centuries) . Little             structural change of any significance took place in this guitar until the sixteenth century. </p>
        <p>
            That's when       
            <a href="https://en.wikipedia.org/wiki/Vicente_Espinel"
               >Vicente Espinel</a> began using a fifth string. With this development the Spaniards finally seemed to feel that             the guitar was their instrument.  It was then that the Latin guitar became known as the "Spanish guitar".             
        </p>
        <p>
            Two centuries later was the addition of the sixth string by             <a
                href="https://es.wikipedia.org/wiki/Fray_Miguel_Garc%C3%ADa">Fray Miguel Garcia</a>. He was a monk also known as Padre Basilio, an excellent classical guitarist. He instructed King Carlos IV, Queen Maria Luisa, and the famous concert guitarist 
                <a href="https://es.wikipedia.org/wiki/Dionisio_Aguado_y_Garc%C3%ADa"
                   >Dionisio Aguado</a>.
        </p>
        <p>By the latter third of the eighteenth century the Spanish guitar             was as we know it today.

        </p>
            <p>  I can’t finish without mentioning Paco de Lucia. He was  the main link to the flamenco guitar we have today. He started in the  strict world of flamenco tradition and pushed the boundaries. He  gave  new ideas and incorporated different instruments into flamenco. Have a look at a quick blog I wrote outlining <a href="/flamenco-blog/paco-de-lucia">a timeline of Paco de Lucia's life</a>.
            </p>
        <cite>Sources: Flamencologist D. Pohren. Photos: Wikipedia.</cite>
    <!-- </div> -->
</div>
<%- include('./../includes/footer.ejs') %>