<%- include('./../includes/header.ejs') %>
<title>What Does Flamenco Mean?</title>
<meta name="apple-mobile-web-app-title" content="What Does Flamenco Mean?">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="I explain what flamenco means, how flamenco started, and break down flamenco a bit for the newcomer to flamenco.">
<meta name="keywords" content="Where Did Flamenco Originate, what does flamenco mean, how flamenco started, what is flamenco">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/flamenco-blog/what-does-flamenco-mean">
<meta property="og:type" content="website">
<meta property="og:title" content="What Does Flamenco Mean?">
<meta property="og:description" content="I explain what flamenco means, how flamenco started, and break down flamenco a bit for the newcomer to flamenco.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="What Does Flamenco Mean?">
<meta name="twitter:description" content="I explain what flamenco means, how flamenco started, and break down flamenco a bit for the newcomer to flamenco.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/flamenco-blog/what-does-flamenco-mean">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<link rel="stylesheet" href="/css/flamenco-blog/what-does-flamenco-mean.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
    <h1>What Does Flamenco Mean?</h1>
<p>According to the flamencologist D. H. Pohren, in his book <a href="https://www.amazon.com/gp/product/1499169027/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1499169027&linkCode=as2&tag=brisbaneflame-20&linkId=356e913c449da02fcbf5fcb246bd1a7d">“Lives And Legends Of Flamenco”</a> flamenco had a double meaning. He mentions that the word flamenco started with society's semi-underworld. In turn the word  flamenco came to signify blustering, boasting and being obnoxious. As flamenco was only  played among these groups, it took on the same name "flamenco".</p>

<h2>What Is Flamenco?</h2>
<p>Flamenco consists of singing, dancing, guitar playing and jaleo  (shouting encouragement). Each can be beautiful  and appreciated by anyone. If all aspects gel together then  magic can happen. Although I must admit for me <a href="/flamenco-blog/spanish-guitar">the flamenco guitar</a> is my weakness. </p>

<p>We can break flamenco into categories, jondo, intermedio, chico  and popular. Which makes sense as each can reflect our moods. Jondo for  profound, intermedio for intermediate flamenco between jondo and chico, chico meaning light,  and popular flamenco would be well... popular or commercialized. I wrote <a href="/flamenco-blog/flamenco-palos">a short break down of Flamenco categories</a>.</p>
<h2>Where Did Flamenco Originate?</h2>
<p>Flamenco had its birth as song only. Like with many art forms no one knows what the originating cante  (song) was. My opinion is there was none but that flamenco evolved. No one ever said “Now we have this new style flamenco”. It evolved into the art we associate today as flamenco. 

</p>
<p>Some modern performances would be unrecognizable to the past generations. It is a  natural evolution like languages changing over time. Flamenco continues to enchant new followers because it is receptive to new influences. Flamenco has always been a fusion of the  previous generation's solid flamenco base. It builds on that foundation with new  outside forces associated with the times that they live in.</p>

<p>There is a large school of thought that the caña and polo are the originating cante. Due to early references to them, and that their passages are similar to early religious chants.</p>

<p>This was a very brief overview. I recommend any of D. H. Pohrens books for anyone who wants to investigate more about flamenco. I found them extremly educational.</p>
<p>
  <a href="https://www.amazon.com/gp/product/1499169051/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1499169051&linkCode=as2&tag=brisbaneflame-20&linkId=c492066f4401089131679d5024021e25">The Art Of Flamenco</a>
</p>
<p>
  <a href="https://www.amazon.com/gp/product/1499169043/ref=as_li_tl?ie=UTF8&tag=brisbaneflame-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1499169043&linkId=4fb485d6c1178c542f4b515446d36427">A Way Of Life</a>
</p>
<p>
  <a href="https://www.amazon.com/gp/product/1499169027/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1499169027&linkCode=as2&tag=brisbaneflame-20&linkId=356e913c449da02fcbf5fcb246bd1a7d">Lives And Legends Of Flamenco</a>
</p>
</div>
  <%- include('./../includes/footer.ejs') %>