#mainContainer{
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    img{
        max-width: 100%;
    }
    .adviceImg {
        height: 200px;
    }
    li{
        margin: 20px 0;
        padding: 20px;
    }
        form {
        
            display: flex;
            flex-direction: column;
            // align-items: center;
            input, button,textarea{
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
                margin: 0 0 20px 0;
            }
        }
        .commentDiv{
            padding: 10px;
            margin: 25px 0;
        }
}
h1{
    text-align: center;
    margin-bottom: 100px;
} 
