#mainContainer {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px; }

#blogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px; }
  #blogList .blogCard {
    padding: 20px; }
    #blogList .blogCard img {
      max-width: 100%; }
    #blogList .blogCard a {
      text-decoration: none; }
    #blogList .blogCard a:hover {
      text-decoration: underline; }
    #blogList .blogCard cite {
      display: block; }
