#mainContainer {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px; }
  #mainContainer img {
    width: auto; }

#h1title {
  margin-bottom: 40px; }

@media screen and (max-width: 550px) {
  #latinGuitarDiv img, #basReliefDiv img {
    width: 100%; } }
